.divisao{
    background-color: #DBDBDB;
}

body{
    background-color: #E5E5E5;
}

.topo{
    background-color: #FFFFFF;
    width: 100%;

    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.header{
    background-color: #FFFFFF;

    height: 8vh;
    /*
    height: 54px;
    width: 933px;*/

    width: 136vh;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /*Header preso
    position: fixed;
    top: 0;
    width: 100%;
    */
}



.icones{
    
    /*width: 152px;*/
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icones .aviao , .descubra, .curtidas, .contatos{
    margin-left: 28px;
    font-size: 20px;
}

.conteudo{
    

    display: flex;
    justify-content: center;

    margin-top: 8vh;
    
}

.logo{
    display: flex;
    align-items: center;
}


.logo .divisao{
    width: 1px;
    height: 22px;
}

.logo .logo-texto{
    /*width: 103px;*/
    width: 16vh;
    margin-left: 10px;
}

.logo .logo-icone{
    /*width: 19.25px;*/
    width: 4vh;
    margin-right: 2vh;
}

.barra-pesquisa input{
    /*width: 215px;*/
    width: 35vh;
    height: 4vh;
    border: 1px solid #DBDBDB;;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.stories{
    background-color: #FFFFFF;
    border-radius: 3px;

    
    margin: 34px 0;
    
   /*  
    height: 118px;
    width: 614px;
    */
    
    height: 17vh;
    width: 614px;
    display: flex;
    align-items: center;

    overflow: hidden;
    position: relative;
    z-index: 0;
}

.stories .user{

    margin-left: 20px;
    margin-bottom: 10px;

    text-align: center;
    
}

.stories .user .nome-user{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.stories .borda-stories{
    background-image: url("./assests/icones/stories_background 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center ;

    height: 66px;
    width: 66px;
}

.stories .image-user{
    width: 56px;
    height: 56px;
}

.stories .setinha-stories{
    color: crimson;
    border-radius: 100px;

    font-size: 40px;    
    left: 570px;
    position: absolute;
}

.post-slider{
    display: flex;
}

.posts{
    
    /*
    height: 1000px;
    width: 614px;
    */

    width: 614px
    
}

.post{
    background-color: #FFFFFF;
    border-radius: 3px;
    /*
    width: 614px;
    height: 749px;
    */
    width: 614px;
    height: 755px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 10vh;
}

.post .user{
    
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
}

.post .lateral{
    display: flex;
    align-items: center;
    margin-left: 14px;
}

.post .more{
    margin-right: 1vw;
}

.post .foto-user-post{
    width: 32px;
    margin-right: 15px;
}

.post .image{
    
    /*object-fit: cover;*/

    height: 612px;
}


.feedback{
    height: 78px;
    width: 100%;
}
 .feedback .coracao, .comentarios, .aviao, .marcador{
     font-size: 20px;
     margin-left: 12px;
 }
 
 .feedback .icones{
    width: 100%;
    margin-top: 10px;


     display: flex;
     justify-content: space-between;
 }

 .feedback .lateral-icones{

    margin-left: 14px;
 }

 .feedback .marcador{
     margin-right: 1vw;
 }

 .feedback .curtido{
    width: 100%;
    display: flex;
    align-items: center;

    margin-top: 14px;
    margin-left: 14px;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
 }

 .feedback .curtido strong{
    
    font-weight: bold;
 }

 .feedback .curtido .user-foto{
     width: 20px;
     margin-right: 5px;
 }

.slider-bar{
    
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    /*
    width: 300px;
    height: 550px;
    */
    margin-left: 2vw;
    width: 292px;
    height: 443PX;

    position: fixed;
    right: calc((100vw - 105    0px)/2);
    top: 90px;

}

.slider-bar .user{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.slider-bar .user .user-foto{
    width: 56px;
    margin-right: 17px;
}

.slider-bar .user .nome{
    font-weight: bold;
}

.slider-bar .ver-tudo{
    display: flex;
    justify-content: space-between;
}
.slider-bar .ver{
    font-weight: bold;
}

.slider-bar .outros{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.slider-bar .outros .info{
    display: flex;
    align-items: center;
}

.slider-bar .outros .user-image{
    width: 32px;
    margin-right: 11px;
}

.slider-bar .outros .nome-users{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.slider-bar .outros .segue-vc{
    color: #139EF2;
}

.slider-bar .sobre{
    margin-top: 35px;
    color: #C7C7C7;
    font-size: 11px;
}

.slider-bar .sobre .info{
    margin-bottom: 18px;
    
}

.slider-bar-sombra{
    
    margin-top: 34px;
    margin-left: 2vw;
    width: 292px;
    height: 443PX;
    
}



@media (max-width: 935px){
    .topo,.header{
       width: 100%;
    }

    
    
    .slider-bar , .slider-bar-sombra{
        display: none;
    }

}


@media (max-width: 614px){
    
    .conteudo,.header,.topo, .stories-posts, .slider-bar, .posts, .post,.user,.user .lateral, .feedback, .stories{
        width: 100%;
    }

    .header .aviao{
        margin-right: 2vw;
    }

    .setinha-stories{
        display: none;
    }
    .image{
        width: 100%;
    }

    .descubra{
        display: none;
    }
    .curtidas{
        display: none;
    }
    .contatos{
        display: none;
    }
    .barra-pesquisa{
        display: none;
    }
    .divisao{
        display: none;
    }

    .slider-bar , .slider-bar-sombra{
        display: none;
    }


    
}